<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryLogicOnTestNG" verbose="1">
	<listeners>
		<listener class-name="com.Analyzer.RunTimeRetry" />
	</listeners>
	<test name="RetryMultipleTestCases">

		<classes>
			<class name="com.MyTest.RetryFailedTestCases" />

		</classes>
	</test>
</suite>